@model PL.Models.ChatListModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Chats</h2>
@Html.ActionLink("Create Chat","Invite","Request",null,new {@class="btn btn-primary"})
<div>
	@foreach (var chat in Model.Chats)
	{
		<div style="border: black solid 1px; margin: 10px">
			<div style="margin: 10px">

				@Html.ActionLink(chat.Name, "OpenChat", "Chat", new { id = chat.ID }, null)
			</div>

			<div style="display: inline-block">
				@Html.ActionLink("Delete", "Delete", "Chat", new { id = chat.ID }, null)
			</div>
			<div style="display: inline-block">
				@Html.ActionLink("Edit", "Edit", "Chat", new { id = chat.ID }, null)
			</div>
		</div>
	}
</div>

