@model List<BL.DTO.UserDTOs.AccountDTO>


<div>



	@foreach (var user in Model)
	{
		<div style="margin: 10px;">

			@Html.ActionLink(user.FullName, "UserPage", "Page", new {userId = user.ID}, null)
		</div>
	}
</div>